@import jeet
@import 'nib'

.btn-add-images
	width 20px
	height 20px
	border 1px solid #ccc
	text-align center
	line-height 20px
	font-size 22px	
	
#preview_files
	figure
		text-align center
	.item
		width 150px
		height 150px
		float left
		margin-right 10px
		border 1px solid #ccc
		.helper_center
			display inline-block
		img			
			max-height 120px
			max-width 130px